.content-wrapper {
  padding-top: 15px;
}

.form-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.form-wrapper .form-input {
  margin-right: 10px;
}

.alert {
  margin-bottom: 0 !important;
  padding-left: 15px !important;
}

.iframe-div {
  height: 450px;
}

.video-item-div {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  padding-bottom: 10px;
}

.video-item-img {
  width: 50%;
  flex: 1;
}

.video-item-title {
  padding-left: 10px;
  flex: 1;
}

/* Responsive */
@media (max-width: 580px) {
}
